<div class="customCard cardBack centerVertically">
  <div class="targetWord">{{Word}}</div>
  <div class="wordAudioButtonFront">{{AudioWord}}</div>
  <div class="sentenceTranslation">{{Type}}</div>
  <div class="irregularForm">{{hint:Translation}}</div>

  <div class="indentTop">{{Image}} {{Image2}}</div>

  <div class="indentTop">{{AudioSentence}} {{SentenceFull}}</div>
  <div class="sentenceTranslation">{{hint:Meaning}}</div>

  <div class="indentTop">{{type:Word}}</div>

  {{#Comments}}
  <div class="indentTop sentenceTranslation">{{Comments}}</div>
  {{/Comments}}
</div>
